<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 mt-3">
      <h1 class="text-center">Contato</h1>
      <p class="text-center lead">Crie ou edite o seu contato abaixo</p>

      <%- include('includes/messages') %>

      <% if(contato._id) { %>
          <form action="/contato/edit/<%= contato._id %>" method="POST">
        <% } else { %>
          <form action="/contato/register" method="POST">
        <% } %>
        <div class="mb-3">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" value="<%= contato.nome %>" class="form-control" id="nome" name="nome">

          <label for="sobrenome" class="form-label mt-2">Sobrenome</label>
          <input type="text" value="<%= contato.sobrenome %>" class="form-control" id="sobrenome" name="sobrenome">

          <label for="email" class="form-label mt-2">Email</label>
          <input type="email" value="<%= contato.email %>" class="form-control" id="email" name="email">

          <label for="telefone" class="form-label mt-2">Telefone</label>
          <input type="tel" value="<%= contato.telefone %>" class="form-control" id="telefone" name="telefone">
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
      </form>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>